body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.light-mode {
  background-color: #f8f8f8;
  color: #333;
}

.search-bar-container {
  padding: 20px;
}

.search-bar-container.authenticated {
  background-color: #f8f8f8;
  border: 1px solid #333;
  color: #333;
}

.search-bar-container.unauthenticated {
  background-color: #333;
  border: 1px solid #f8f8f8;
  color: #fff;
}